In [2]:
import pandas as pd
dados = pd.read_csv('C:\Python\Didatica Tech\Datasets\kc_house_data.csv')

In [2]:
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
dados.drop('zipcode', axis = 1, inplace = True)
dados.drop('lat', axis = 1, inplace = True)
dados.drop('long', axis = 1, inplace = True)
dados.drop('id', axis = 1, inplace = True)
dados.drop('date', axis = 1, inplace = True)

In [8]:
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()

In [4]:
y = dados['price']
x = dados.drop('price', axis = 1)

In [5]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.30, random_state = 14)

In [18]:
modelo.fit(x_treino, y_treino)
resultado = modelo.score(x_teste, y_teste)

In [19]:
resultado

0.6538094196281066

In [20]:
from sklearn.linear_model import Ridge
modeloRidge = Ridge(alpha=1)
modeloRidge.fit(x_treino, y_treino)
resultadoRidge = modeloRidge.score(x_teste, y_teste)
resultadoRidge

0.6539029726255621

In [6]:
def modeloregressao(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    result_reg = reg.score(x_teste, y_teste)
    result_ridge = ridge.score(x_teste, y_teste)
    result_lasso = lasso.score(x_teste, y_teste)
    result_elastic = elastic.score(x_teste, y_teste)
    print('RegressÃ£o Linear: ', result_reg, 'RegressÃ£o Ridge: ', result_ridge, 'RegressÃ£o Lasso: ', result_lasso, 'RegressÃ£o Elastic: ', result_elastic)

In [7]:
modeloregressao(x_treino, y_treino, x_teste, y_teste)

RegressÃ£o Linear:  0.6538094196281066 RegressÃ£o Ridge:  0.6539029726255621 RegressÃ£o Lasso:  0.6538117156908521 RegressÃ£o Elastic:  0.624113485893988

C:\Users\gustavo.presa\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 332862131822096.9, tolerance: 209305962424.49078
  positive)
C:\Users\gustavo.presa\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 427971483633542.3, tolerance: 209305962424.49078
  positive)