In [1]:
import pandas as pd
dados = pd.read_csv('C:\Python\Didatica Tech\Datasets\Admission_Predict.csv')

In [4]:
dados.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
dados.drop('Serial No.', axis = 1, inplace = True)

In [17]:
dados.dtypes

GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [15]:
print(dados.isnull().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [19]:
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis = 1)

In [20]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.30)

In [23]:
def modeloregressao(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    result_reg = reg.score(x_teste, y_teste)
    result_ridge = ridge.score(x_teste, y_teste)
    result_lasso = lasso.score(x_teste, y_teste)
    result_elastic = elastic.score(x_teste, y_teste)
    # criando um dicionario
    dic_regmodels = {'Linear':result_reg, 'Ridge':result_ridge, 'Lasso':result_lasso, 'Elastic':result_elastic}
    melhor_modelo = max(dic_regmodels, key=dic_regmodels.get)
    print('Regressão Linear: ', result_reg, 'Regressão Ridge: ', result_ridge, 'Regressão Lasso: ', result_lasso, 'Regressão Elastic: ', result_elastic)
    print('O melhor modelo foi: ', melhor_modelo, ' com o valor ', dic_regmodels[melhor_modelo])

In [24]:
modeloregressao(x_treino, y_treino, x_teste, y_teste)

Regressão Linear:  0.8415710025575411 Regressão Ridge:  0.8407455836057973 Regressão Lasso:  0.19928010436488708 Regressão Elastic:  0.5478696273424879
O melhor modelo foi:  Linear  com o valor  0.8415710025575411