In [18]:
import pandas as pd
dados = pd.read_csv('C:\Python\Didatica Tech\Datasets\Admission_Predict.csv')

In [19]:
dados.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [20]:
dados.drop('Serial No.', axis = 1, inplace = True)

In [21]:
dados.dtypes

GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [22]:
print(dados.isnull().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [23]:
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis = 1)

In [15]:
# modelo kfold apenas com regressão linear
modelo = LinearRegression()
kfold = KFold(n_splits=5)
resultado = cross_val_score(modelo,x,y,cv = kfold)

In [16]:
resultado

array([0.66127484, 0.7603601 , 0.78007828, 0.84207063, 0.8105699 ])

In [17]:
print(resultado.mean())

0.7708707501243887

In [32]:
def modelokfold(a, b):
    # modelo kfold comparando regressão linear, ridge, lasso e elasticnet
    from sklearn.model_selection import cross_val_score # função para validaçao cruzada
    from sklearn.model_selection import KFold #     
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    x = a
    y = b
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    kfold = KFold(n_splits=5)
    result_reg = cross_val_score(reg,x,y,cv = kfold)
    result_ridge = cross_val_score(ridge,x,y,cv = kfold)
    result_lasso = cross_val_score(lasso,x,y,cv = kfold)
    result_elastic = cross_val_score(elastic,x,y,cv = kfold)
    # criando um dicionario
    dic_regmodels = {'Linear':result_reg.mean(), 'Ridge':result_ridge.mean(), 'Lasso':result_lasso.mean(), 'Elastic':result_elastic.mean()}
    melhor_modelo = max(dic_regmodels, key=dic_regmodels.get)
    print('Regressão Linear: ', result_reg, 'Regressão Ridge: ', result_ridge, 'Regressão Lasso: ', result_lasso, 'Regressão Elastic: ', result_elastic)
    print('O melhor modelo foi: ', melhor_modelo, ' com o valor ', dic_regmodels[melhor_modelo])

In [34]:
modelokfold(x, y)

Regressão Linear:  [0.66228895 0.76112209 0.78108683 0.84044015 0.81095904] Regressão Ridge:  [0.66127484 0.7603601  0.78007828 0.84207063 0.8105699 ] Regressão Lasso:  [0.11788555 0.20228902 0.15038048 0.36850477 0.2213564 ] Regressão Elastic:  [0.35930427 0.56614318 0.44469708 0.57311352 0.56620401]
O melhor modelo foi:  Linear  com o valor  0.771179412106635